@import url('https://fonts.googleapis.com/css2?family=Glory:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-gradient {
    background: linear-gradient(272.77deg, #c987e9 0%, #96cdff 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .image-unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .font-family-glory {
    font-family: 'Glory', sans-serif;
  }

  .background-blurred {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .background-blurred-black {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

:root {
  --blue-color: #b0caff;
  --purple-color: #9378d8;
  --primary-text: black;
  --purple-bg: #d2daff;
  --pink-color: #e319b7;
  --dark-purple-bg: #b1b2ff;
  --light-purple-bg: #eef1ff;
  --blue-border: #3ebdfa;
  --black-background-color: #000000;
}

.gradient-text {
  background-color: #000;
  background-image: linear-gradient(272.77deg, #904bc7 0%, #167bd8 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Timeline Container */
.timeline {
  background: #eef1ff;
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  width: 520px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 45px 0 45px 45px;
}

.card:nth-child(even) {
  padding: 45px 45px 45px 0;
}

/* Global ::before */
.card::before {
  content: '';
  position: absolute;
  width: 70%;
  border: solid #6668ff;
}

.incomplete::before {
  border: solid #b3b4f3;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #eef1ff;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: #6668ff;
  position: relative;
  font-weight: bold;
}

/* Timeline dot  */
.title::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 999px;
  border: 3px solid #6668ff;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -60px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -60px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 550px) {
  .card {
    width: 380px;
  }

  .timeline {
    margin: 15px auto;
    padding: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }

  .card {
    width: 320px;
  }

  .timeline {
    margin: 10px auto;
    padding: 10px;
  }
}

/* Powered By div */
.powered-div {
  min-width: 300px;
  width: 80%;
  border: 2px solid #b3b4f3;
  padding: 82px 0 82px 44px;
  border-width: 0px 0 2px 2px;
  border-radius: 40px 0 40px 40px;
}

.powered-div::before {
  content: '';
  position: absolute;
  border: 2px solid #b3b4f3;
  border-width: 0 2px 0 0;
  border-radius: 40px 0 40px 40px;
  padding: 82px 0 82px 44px;
  right: 2px;
  bottom: 5px;
}

.powered-icons {
  transform: translate(50%, 125%);
  right: 0;
  top: 0;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  .powered-icons {
    transform: translateY(325%);
    bottom: 0;
  }

  .powered-div {
    width: 90%;
  }

  .powered-div::before {
    border: 0;
    border-radius: 0;
  }
}

@media only screen and (max-width: 699px) {
  .powered-icons {
    transform: translateY(360%);
    bottom: 0;
  }
}

@media only screen and (max-width: 604px) {
  .powered-icons {
    transform: translateY(400%);
    bottom: 0;
  }
}

@media only screen and (max-width: 486px) {
  .powered-icons {
    transform: translateY(435%);
    bottom: 0;
  }
}

@media only screen and (max-width: 434px) {
  .powered-icons {
    transform: translateY(470%);
    bottom: 0;
  }
}

@media only screen and (max-width: 377px) {
  .powered-icons {
    transform: translateY(510%);
    bottom: 0;
  }
}

@media only screen and (max-width: 333px) {
  .powered-icons {
    transform: translateY(540%);
    bottom: 0;
  }
}

.powered-title {
  position: relative;
}

.powered-title::before {
  content: '';
  position: absolute;
  width: 200px;
  border: solid #b3b4f3;
  border-width: 2px 0 0 0;
  border-radius: 40px 0 0 0;
  top: -83px;
  left: -44px;
  padding: 20px;
}

.powered-box {
  position: relative;
}

.powered-box::before {
  content: '';
  position: absolute;
  width: 80px;
  border: solid #b3b4f3;
  border-width: 2px 2px 2px 0;
  border-radius: 0 40px 40px 0;
  padding: 74px 0;
  right: -80px;
  top: 35px;
}

/* Introduction div */
.intro {
  min-width: 300px;
  width: 80%;
  border: 2px solid #dfe1fc;
  padding: 55px 30px;
  border-width: 0px 0 4px 4px;
  border-radius: 40px 0 0 40px;
}

.intro-title {
  position: relative;
}

.intro-title::before {
  content: '';
  width: 360px;
  position: absolute;
  border: solid #dfe1fc;
  border-width: 4px 4px 0 0;
  border-radius: 40px 40px 40px 0;
  left: -29px;
  top: -56px;
  padding: 35px;
}

.intro-title::after {
  content: '';
  position: absolute;
  border: solid #dfe1fc;
  width: 140px;
  bottom: 10px;
  left: 190px;
  padding: 35px;

  border-width: 0 0 4px 0;
  border-radius: 0 40px 40px 0;
}
