@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-gradient {
    background: linear-gradient(272.77deg, #C987E9 0%, #96CDFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .image-unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .background-blurred {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .background-blurred-black {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

:root {
  --pink-color: rgba(176, 21, 250, 0.9);
  --blue-color: #B0CAFF;
  --purple-color: #9378D8;
  --primary-text: black;
  --purple-bg: #D2DAFF;
  --pink-color: #E319B7;
  --dark-purple-bg: #B1B2FF;
  --light-purple-bg: #EEF1FF;
  --blue-border: #3EBDFA;

}

.gradient-text {
  background-color: #000;
  background-image: linear-gradient(272.77deg, #904BC7 0%, #167BD8 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Timeline Container */
.timeline {
  background: #EEF1FF;
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  width: 520px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 45px 0 45px 45px;
}

.card:nth-child(even) {
  padding: 45px 45px 45px 0;
}

/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 70%;
  border: solid #6668ff;
}

.incomplete::before {
  border: solid #B3B4F3;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #EEF1FF;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: #6668ff;
  position: relative;
  font-weight: bold;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 999px;
  border: 3px solid #6668ff;
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
  left: -60px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
  right: -60px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 550px) {
  .card {
    width: 380px;
  }

  .timeline {
    margin: 15px auto;
    padding: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }

  .card {
    width: 320px;
  }

  .timeline {
    margin: 10px auto;
    padding: 10px;
  }
}